## [ 수행 평가 ]
### 아래 3개의 파일을 활용한 실습
> user_ratings.dat
>
> movies.dat
>
> users.dat

In [1]:
import numpy  as np
import pandas as pd

In [2]:
# 1. 각 파일을 pd.read_csv() 로 읽어들인다

rating_row = pd.read_csv('./data/user_ratings.dat' , sep='::' , header=None)
movie_row = pd.read_csv('./data/movies.dat' , sep='::' , header=None)
user_row = pd.read_csv('./data/users.dat' , sep='::' , header=None)

<ipython-input-2-47b664db6718>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rating_row = pd.read_csv('./data/user_ratings.dat' , sep='::' , header=None)

FileNotFoundError: [Errno 2] No such file or directory: './data/user_ratings.dat'

In [13]:
print('type - '   , type(rating_row) , type(movie_row) , type(user_row))
# print('head() - \n' , rating_row.head())

type -  <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

In [14]:
# 2. 데이터 확인 및 구조분석과 각 데이터 프레임에 헤더를 추가
rating_row.columns = ['userId' ,  'movieId' , 'rating', 'timestamp' ] 
movie_row.columns  = ['movieId' , 'title', 'genres' ] 
user_row.columns   = ['userId' ,  'gender' , 'age', 'drop1', 'drop2' ]

In [16]:
del user_row['drop1']
del user_row['drop2']

      userId gender  age
0          1      F    1
1          2      M   56
2          3      M   25
3          4      M   45
4          5      M   25
...      ...    ...  ...
6035    6036      F   25
6036    6037      F   45
6037    6038      F   56
6038    6039      F   45
6039    6040      M   25

[6040 rows x 3 columns]

In [19]:
# 3. 공통 컬럼을 이용한 데이터 병합
# merge()
rating_movie_merge = pd.merge(rating_row , movie_row , on='movieId' , how = 'left')
# rating_movie_merge
user_rating_movie_merge = pd.merge(rating_movie_merge , user_row , on='userId' , how = 'left')
user_rating_movie_merge

,userId,movieId,rating,timestamp,title,genres,gender,age
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1
...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25
1000207,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25

In [51]:
# 4. user 평점 갯수 순위 확인(sort)
# user_rating_movie_merge['userId'].value_counts()
temp_dataframe = pd.DataFrame({
    'user_id_cnt' : user_rating_movie_merge['userId'].value_counts()
})
temp_dataframe.index.name = 'userId'
temp_dataframe = temp_dataframe.reset_index()

temp_dataframe['user_id_cnt_rank'] = temp_dataframe['user_id_cnt'].rank(ascending=False).astype(int)

result_merge = pd.merge(user_rating_movie_merge , temp_dataframe , on='userId' , how = 'left')
display( result_merge )

,userId,movieId,rating,timestamp,title,genres,gender,age,user_id_cnt,user_id_cnt_rank
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,53,4149
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,53,4149
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,53,4149
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,53,4149
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,53,4149
...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25,341,778
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25,341,778
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25,341,778
1000207,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25,341,778
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25,341,778

In [66]:
# 7. 평점이 200개 이상인 영화들의 성별 평균 평점
temp_dataframe = pd.DataFrame({
    'movie_id_cnt' : result_merge['movieId'].value_counts()
})
temp_dataframe.index.name = 'movieId'
temp_dataframe = temp_dataframe.reset_index()
result_movie_merge = pd.merge(result_merge , temp_dataframe , on='movieId' , how = 'left')
result_movie_merge

over_200_movie = result_movie_merge[ result_movie_merge['movie_id_cnt'] >= 200 ]
# display( over_200_movie.head() )
gender_m = over_200_movie[ over_200_movie['gender'] == 'M']['rating'].mean()
gender_f = over_200_movie[ over_200_movie['gender'] == 'F']['rating'].mean()

print('남자 성별 평균 평점 - ',gender_m)
print('여자 성별 평균 평점 - ',gender_f)

남자 성별 평균 평점 -  3.650922994518683
여자 성별 평균 평점 -  3.688517650906957

3.650922994518683
3.688517650906957