## [ 수행 평가 ]
### 아래 3개의 파일을 활용한 실습
> user_ratings.dat
>
> movies.dat
>
> users.dat

In [3]:
import numpy  as np
import pandas as pd

### 1. 각 파일을 pd.read_csv() 로 읽어들인다

In [66]:
# 1. 각 파일을 pd.read_csv() 로 읽어들인다

rating_row = pd.read_csv('./data/user_ratings.dat' , sep='::' , header=None)
movie_row = pd.read_csv('./data/movies.dat' , sep='::' , header=None)
user_row = pd.read_csv('./data/users.dat' , sep='::' , header=None)

<ipython-input-66-47b664db6718>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rating_row = pd.read_csv('./data/user_ratings.dat' , sep='::' , header=None)
<ipython-input-66-47b664db6718>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movie_row = pd.read_csv('./data/movies.dat' , sep='::' , header=None)
<ipython-input-66-47b664db6718>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  user_row = pd.read_csv('./data/users.dat' , sep='::' , header=None)

In [67]:
print('type - '   , type(rating_row) , type(movie_row) , type(user_row))
# print('head() - \n' , rating_row.head())

type -  <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

### 2. 데이터 확인 및 구조분석과 각 데이터 프레임에 헤더를 추가

In [68]:
# 2. 데이터 확인 및 구조분석과 각 데이터 프레임에 헤더를 추가
rating_row.columns = ['userId' ,  'movieId' , 'rating', 'timestamp' ] 
movie_row.columns  = ['movieId' , 'title', 'genres' ] 
user_row.columns   = ['userId' ,  'gender' , 'age', 'drop1', 'drop2' ]

In [69]:
del user_row['drop1']
del user_row['drop2']

display(rating_row.head(3))
display(movie_row.head(3))
display(user_row.head(3))

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968

   movieId                    title                        genres
0        1         Toy Story (1995)   Animation|Children's|Comedy
1        2           Jumanji (1995)  Adventure|Children's|Fantasy
2        3  Grumpier Old Men (1995)                Comedy|Romance

   userId gender  age
0       1      F    1
1       2      M   56
2       3      M   25

### 3. 공통 컬럼을 이용한 데이터 병합

In [70]:
# 3. 공통 컬럼을 이용한 데이터 병합
# merge()
rating_movie_merge = pd.merge(rating_row , movie_row , on='movieId' , how = 'left')
# rating_movie_merge
user_rating_movie_merge = pd.merge(rating_movie_merge , user_row , on='userId' , how = 'left')
user_rating_movie_merge

,userId,movieId,rating,timestamp,title,genres,gender,age
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1
...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25
1000207,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25

### 4. user 평점 갯수 순위 확인(sort)

In [71]:
# 4. user 평점 갯수 순위 확인(sort)
# user_rating_movie_merge['userId'].value_counts()
temp_dataframe = pd.DataFrame({
    'user_id_cnt' : user_rating_movie_merge['userId'].value_counts()
})
temp_dataframe.index.name = 'userId'
temp_dataframe = temp_dataframe.reset_index()

temp_dataframe['user_id_cnt_rank'] = temp_dataframe['user_id_cnt'].rank(ascending=False).astype(int)

result_merge = pd.merge(user_rating_movie_merge , temp_dataframe , on='userId' , how = 'left')
display( result_merge )

,userId,movieId,rating,timestamp,title,genres,gender,age,user_id_cnt,user_id_cnt_rank
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,53,4149
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,53,4149
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,53,4149
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,53,4149
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,53,4149
...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25,341,778
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25,341,778
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25,341,778
1000207,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25,341,778
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25,341,778

### 5. 각 영화의 성별 평균 평점

In [72]:
# 5. 각 영화의 성별 평균 평점
gender_grouped = result_merge['rating'].groupby(result_merge['gender'])
gender_grouped.mean()

gender
F    3.620366
M    3.568879
Name: rating, dtype: float64

### 6.  평점이 220개 이상인 영화만 필터링(filter())

In [73]:
# 영화별 평점 개수 확인
temp_dataframe = pd.DataFrame({
    'movieId_cnt' : user_rating_movie_merge['movieId'].value_counts()
})
temp_dataframe.index.name = 'movieId'
temp_dataframe = temp_dataframe.reset_index()

movie_cnt_df = pd.merge(user_rating_movie_merge , temp_dataframe , on='movieId' , how = 'left')
display( movie_cnt_df )

,userId,movieId,rating,timestamp,title,genres,gender,age,movieId_cnt
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,1725
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,525
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,636
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,1315
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,1703
...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25,373
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25,1229
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25,478
1000207,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25,344
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25,2269

In [74]:
# movieId_cnt 220 이상인 데이터 필터링
cnt_220 = movie_cnt_df[movie_cnt_df.movieId_cnt >= 220]
cnt_220

,userId,movieId,rating,timestamp,title,genres,gender,age,movieId_cnt
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,1725
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,525
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,636
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,1315
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,1703
...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25,373
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25,1229
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25,478
1000207,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25,344
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25,2269

**6-2 (추가) 평점이 220개 이상인 영화들의 각 영화별 평균 평점을 구하고, 영화 목록을 중복 없이 표시하기**
- 평점은 내림차순 정렬

In [76]:
movie_grouped = result_merge['rating'].groupby(result_merge['movieId'])
movie_grouped.mean()

movieId
1       4.146846
2       3.201141
3       3.016736
4       2.729412
5       3.006757
          ...
3948    3.635731
3949    4.115132
3950    3.666667
3951    3.900000
3952    3.780928
Name: rating, Length: 3706, dtype: float64

In [78]:
result2_merge = pd.merge(result_merge , movie_grouped.mean() , on='movieId' , how = 'left')
display( result2_merge )

,userId,movieId,rating_x,timestamp,title,genres,gender,age,user_id_cnt,user_id_cnt_rank,rating_y
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,53,4149,4.390725
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,53,4149,3.464762
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,53,4149,4.154088
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,53,4149,3.863878
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,53,4149,3.854375
...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25,341,778,2.793566
1000205,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25,341,778,3.731489
1000206,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25,341,778,3.799163
1000207,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25,341,778,3.976744
1000208,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25,341,778,3.965183

In [97]:
# 영화 목록 (ID, 제목, 장르, 리뷰 수, 평균 평점)
result2_merge = result2_merge.drop_duplicates(['movieId'])
result2_sorted = result2_merge.sort_values(['rating_y'], ascending=False)
list_by_rating = result2_sorted[['movieId', 'title', 'genres', 'user_id_cnt', 'rating_y']]
list_by_rating

,movieId,title,genres,user_id_cnt,rating_y
558160,3233,Smashing Time (1967),Comedy,183,5.0
883623,3382,Song of Freedom (1936),Drama,55,5.0
465274,1830,Follow the Bitch (1998),Comedy,33,5.0
970914,3607,One Little Indian (1973),Comedy|Drama|Western,162,5.0
6448,3280,"Baby, The (1973)",Horror,41,5.0
...,...,...,...,...,...
752743,3123,Spring Fever USA (a.k.a. Lauderdale) (1989),Comedy,51,1.0
752771,133,Nueba Yol (1995),Comedy|Drama,51,1.0
201369,3228,Wirey Spindell (1999),Comedy,616,1.0
11362,826,Diebinnen (1995),Drama,59,1.0
725221,3460,Hillbillys in a Haunted House (1967),Comedy,1271,1.0

### 7. 평점이 200개 이상인 영화들의 성별 평균 평점

In [75]:
# 7. 평점이 200개 이상인 영화들의 성별 평균 평점
temp_dataframe = pd.DataFrame({
    'movie_id_cnt' : result_merge['movieId'].value_counts()
})
temp_dataframe.index.name = 'movieId'
temp_dataframe = temp_dataframe.reset_index()
result_movie_merge = pd.merge(result_merge , temp_dataframe , on='movieId' , how = 'left')
result_movie_merge

over_200_movie = result_movie_merge[ result_movie_merge['movie_id_cnt'] >= 200 ]
# display( over_200_movie.head() )
gender_m = over_200_movie[ over_200_movie['gender'] == 'M']['rating'].mean()
gender_f = over_200_movie[ over_200_movie['gender'] == 'F']['rating'].mean()

print('남자 성별 평균 평점 - ',gender_m)
print('여자 성별 평균 평점 - ',gender_f)

남자 성별 평균 평점 -  3.650922994518683
여자 성별 평균 평점 -  3.688517650906957

### 8. 여성이 가장 좋아하는 영화 순위

In [94]:
female_df = result_merge[result_merge.gender == 'F']
f_mean_ratings = female_df['rating'].groupby(result_merge['movieId']).mean()
female_merge = pd.merge(female_df, f_mean_ratings, on='movieId', how='left')
display( female_merge )

,userId,movieId,rating_x,timestamp,title,genres,gender,age,user_id_cnt,user_id_cnt_rank,rating_y
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,53,4149,4.310811
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,53,4149,3.459627
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,53,4149,4.336667
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,53,4149,4.007126
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,53,4149,3.927505
...,...,...,...,...,...,...,...,...,...,...,...
246435,6039,1081,4,956705989,Victor/Victoria (1982),Comedy|Musical,F,45,123,2481,3.775148
246436,6039,1083,3,956706051,"Great Race, The (1965)",Comedy|Musical,F,45,123,2481,3.340909
246437,6039,1086,4,956706182,Dial M for Murder (1954),Mystery|Thriller,F,45,123,2481,4.187500
246438,6039,1088,4,956706019,Dirty Dancing (1987),Musical|Romance,F,45,123,2481,3.790378
246439,6039,1097,4,956705811,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,F,45,123,2481,4.089850

In [100]:
# 영화 목록 (ID, 제목, 장르, 리뷰 수, 평균 평점)
female_merge = female_merge.drop_duplicates(['movieId']) # 영화 값 중복 제거
female_sorted = female_merge.sort_values(['rating_y'], ascending=False) # 평점 순 정렬
female_list_by_rating = female_sorted[['movieId', 'title', 'genres', 'user_id_cnt', 'rating_y']]
female_list_by_rating = female_list_by_rating.reset_index()
female_list_by_rating.index = female_list_by_rating.index+1
del female_list_by_rating['index']
female_list_by_rating

,movieId,title,genres,user_id_cnt,rating_y
1,394,Coldblooded (1995),Action,1078,5.0
2,2129,"Saltmen of Tibet, The (1997)",Documentary,42,5.0
3,1420,Message to Love: The Isle of Wight Festival (1...,Documentary,677,5.0
4,854,"Ballad of Narayama, The (Narayama Bushiko) (1958)",Drama,221,5.0
5,3012,Battling Butler (1926),Comedy,225,5.0
...,...,...,...,...,...
3477,3695,Toxic Avenger Part III: The Last Temptation of...,Comedy|Horror,128,1.0
3478,2825,Rosie (1998),Drama,100,1.0
3479,3938,"Slumber Party Massacre, The (1982)",Horror,220,1.0
3480,3939,"Slumber Party Massacre II, The (1987)",Horror,220,1.0
3481,3149,Diamonds (1999),Mystery,888,1.0

### 9. 남녀간의 평균 평점 차이

In [103]:
# 9. 남녀 간 평균 평점 차이
temp_dataframe = pd.DataFrame({
    'movie_id_cnt' : result_merge['movieId'].value_counts()
})
temp_dataframe.index.name = 'movieId'
temp_dataframe = temp_dataframe.reset_index()
result_movie_merge = pd.merge(result_merge , temp_dataframe , on='movieId' , how = 'left')
result_movie_merge

gender_m = result_movie_merge[ result_movie_merge['gender'] == 'M']['rating'].mean()
gender_f = result_movie_merge[ result_movie_merge['gender'] == 'F']['rating'].mean()

print('남자 성별 평균 평점 - ',gender_m)
print('여자 성별 평균 평점 - ',gender_f)
print('남녀 간 평균 평점 차이 - ', gender_f - gender_m)

남자 성별 평균 평점 -  3.5688785290984373
여자 성별 평균 평점 -  3.6203660120110372
남녀 간 평균 평점 차이 -  0.05148748291259997

### 10. 평점의 표준편차가 큰 영화

### 추가 요구사항

> - Comedy영화 중 가장 평점이  낮은 영화의 제목
> - 평균 평점이 가장 높은 영화의 제목(동률이 있을 경우 모두 출력)
> - 각 영화별 평균 평점